<html>
    <head>
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
    </head>
    <body>
        <!-- web.dev -->
        <!-- sematic-ui.com -->
        <div class="ui animated button" tabindex="0">
            <button class="ui button" tabIndex="0">
                kill
            </button>
            <button class="ui primary button">
                steal
            </button>
            <button class="ui secondary basic button">
                kiss
            </button>
            <!-- css media query -->

        </div>

        <div class="ui labeled icon vertical menu">
            <a class="item">
                abbassi
            </a>
        </div>
        <div class="ui modal">
        </div>
        <div style="height: 20000px;">
        </div>
    </body>
</html>
